#home_index { line-height:160%; }

#last_topics { float:left; width:450px; }
#hot_topics { float:right; width:450px; }
.topics h2 { font-size:14px; margin-bottom:8px;}
.topics ul li { line-height:160%;}
.topics ul li a:link,
.topics ul li a:visited { color:#2C64D7;}
.topics ul li .node { color:#666; margin-right:5px;}
.topics ul li .node a:link,
.topics ul li .node a:visited { color:#666; }

.home_suggest_topics {
  h2 {
    font-size:14px;
    margin: 0 -10px;
    padding: 0 10px 10px 10px;
    border-bottom:1px solid #ddd;
  }
  .topics {
    .topic {
      height:50px;
      .title {
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
      }
    }
    .topic:nth-child(odd) { width:50%; float:left;  clear:left; }
    .topic:nth-child(even) { width:50%; padding-left:50%; margin-left:10px; }
  }
}

.node_topics {
  margin-bottom:0px;
  .head { display:none; }
}

//--------------------------------------------------
/*** promobox style ***/
::selection {
  background: #ff7504;
  color: #fff;
  text-shadow: none;
}
.slider_wrap {
  height: 450px;
  overflow: hidden;
  position: relative;
  background: transparent;
  margin-top: 5px;
}
.promobox {
  height: 80px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 95px;
  background: url(/assets/slide_text_bar_bg.png) repeat-x;
  h1 {
    position: absolute;
    font-size: 28px;
    margin-top: 24px;
    margin-left: 24px;
    color: #FFF;
    text-shadow: black 1px 1px 2px;
    text-shadow: rgba(0,0,0,0.7) 1px 2px 4px;
  }
  h2 {
    display: none;
  }
  a{
    height: 20px;
    padding-left: 22px;
    background: url(/assets/sprite.png) no-repeat;
  }
}

.button {
  color: #FFF;
  float: right;
  margin-top: 10px;
  margin-right: 24px;
  position: relative;
  a.register{
    display: block;
    width: 210px;
    height: 60px;
    text-indent: -9999px;
    background: url(/assets/sprite.png) no-repeat 0 -510px;
  }
  .openlogin {
    position: absolute;
    top: 36px;
    left: 35px;
    a {
      text-indent: 0;
      color: #D9D9D9;
      padding-left: 22px;
    }
    .qq {
      background-position: -225px -455px!important;
    }
    .sina {
      background-position: -225px -478px!important;
    }
  }
}

.marketing{
  height: 246px;
  .span4{
    height: 245px;
  }
}

#thumbnails_title {
  font-size: 28px;
  text-align: left;
}

#thumbnails {
  height: 400px;
  margin-left: -2.5%;
  padding-left: 0px;
  list-style: none;
  .span4{
    width: 295px;
  }
}